target/*
.idea/*
*.iml
edentiti-service/target/*
wsg-service-order/target/*
gateway-client/target/*
gateway-logistics/target/*
gateway-common/target/*
gateway-webapp/target/*
wsg-rtbs-service/target/*
mnp-service/target/*
email-service/target/*
optus-mock/target/*
gateway-sms/target/*
*.class
*.project
.settings/*
*.classpath
edentiti-service/.settings/*
wsg-service-order/.settings/
gateway-client/.settings/*
gateway-common/.settings/*
gateway-webapp/.settings/*
wsg-rtbs-service/.settings/*
mnp-service/.settings/*
email-service/.settings/*
optus-mock/.settings/*
.elasticbeanstalk/

optus-mock/.settings/org.eclipse.jdt.core.prefs
*.prefs
optus-mock/.settings/org.eclipse.wst.common.component
optus-mock/.settings/org.eclipse.wst.common.project.facet.core.xml


gateway-webapp/tmp-git-deployment-staging/*
optus-callback/.settings/org.eclipse.wst.common.component
optus-callback/.settings/org.eclipse.wst.common.project.facet.core.xml
*.iml
gateway-webapp/src/main/resources/pendulum_temp/.camel/ID-Saad-PC-21140-1446809309491-0-1
gateway-webapp/gateway-webapp.iml
optus-gateway.iml
